.TaskCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}

.TaskButton {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.TasksBorderCard {
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    padding: 2em;
    background-color: rgb(254, 255, 242);
}

.TasksForm {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    padding: 2em;
    background-color: rgb(254, 255, 242);
}

.TasksIcon {
    width: 80px;
    height: 80px;
    opacity: 0.7;
    padding: 4px;
    margin: 2em 2em;
}
