
.NewForumForm {
    padding: 2em;
    margin: 1em;
    position: fixed;
    margin: 2em;
    bottom: 0;
    float: left;
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    background-color: rgb(253, 254, 245);
}

.ForumCard {
    display: flex;
    float: right;
    flex-direction: column-reverse;
    justify-content: right;
    width: 45%;
    padding: 1px;
}

.ForumEditForm {
    display: flex;
    justify-content: space-around;
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    padding: 2em;
    margin-top: -30px;
    background-color: rgb(254, 255, 242);
}

.MessageEdit {
    width: 60%;
}

.ForumHistory {
    border-radius: 15px;
    padding: 2em;
    background-color: rgb(220, 236, 247);
    margin: 2em 2em 3px 3px;
}

.ForumHistoryBtn {
    float: right;
} 

.ForumIcon {
    width: 70px;
    height: 70px;
    opacity: 0.8;
    padding: 6px;
    background-color: rgb(136, 185, 218);
    border-radius: 100px;
}

.ForumMessageField {
    height: 100px;
}

.ForumUser {
    margin-left: 8px;
}