.LoginForm {
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 2em;
    margin: 2em;
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    background-color: rgb(253, 254, 245);
}

