h1 {
    font-family: 'Kumar One', cursive;
}

body {
    font-family: 'Anonymous Pro', monospace;
    background: url("https://cdn3.dualshockers.com/wp-content/uploads/2016/02/firewatch_5.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: rgb(18, 68, 109);
    font-size: 20px;
}

.btn-success {
    background-color: rgb(90, 157, 90);
    border-color: rgb(90, 157, 90);
    font-size: 20px;
}

.btn-primary {
    background-color: rgb(20, 129, 218);
    border-color: rgb(20, 129, 218);
    font-size: 20px;
}

.btn-primary:hover {
    background-color: rgb(20, 100, 165);
}

.btn-success:hover {
    background-color: rgb(65, 126, 79);
}

.RegisterWelcome {
    float: left;
    width: 40%;
    box-shadow: rgb(108, 108, 106);
    border-radius: 15px;
    padding: 2em;
    margin: 2em;
    background-color: rgb(254, 255, 242);
}